[submodule "tests/uri-templates"]
	path = tests/uri-templates
	url = https://github.com/uri-templates/uritemplate-test.git
[submodule "tests/json-schema-test-suite"]
	path = tests/json-schema-test-suite
	url = https://github.com/json-schema/JSON-Schema-Test-Suite.git
