.debug {
	display: inline;
	display: inline-block;
	background-color: #FF8;
	color: #444;
	border: 1px solid #888;
	border-radius: 3px;
	margin: 1px 2px;
	padding: 0em 0.4em;
	font-size: 9px;
	letter-spacing: 0px;
	font-family: Trebuchet MS;
	font-weight: bold;
}

.json-link {
	margin: 0em;
	padding: 0em 0.3em;

	border: 1px solid #BBD;
	border-radius: 3px;
	background-color: #DDF;
	
	color: #008;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.7em;
	text-decoration: none;
}

.json-object {
	border: 1px solid #DDD;
	border-radius: 5px;
}

.json-object-pair {
	display: block;
	position: relative;
	
	margin: 0.3em;
	padding-left: 6.5em;
}

.json-object-key {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
	height: 100%;
	
	color: #080;
	text-align: right;
}

.json-array {
	
}

.json-array-item {
	border-left: 1px solid #DDD;
	padding-left: 0.5em;
	margin-bottom: 1em;
}

tr.json-array-item {
	border: none;
}

.json-array-header th {
	border-bottom: 1px solid #CCC;
}

.json-number, .json-boolean, .json-null {
	color: #808;
	font-family: monospace;
}